*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: black;
 
}

.main-contaner{
  width: 90%;
  max-width: 470px;
  color: #fff;
  background: linear-gradient(135deg, #00feba , #5b548a);
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.search input{
  border: #00feba;
  outline: 0;
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  color: #555;
}

.search button{
  border: #00feba;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search button:hover{
  transform: scale(1.1);
}

.search img{
  height: 100%;
  width: 100%;
}


.weather-icon{
  width: 200px;
  margin-top: 20px;
}

.temperature h1{
  font-size: 80px;
  font-weight: 500;
}
.temperature h2{
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}

.weather-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 20px;

} 

.col{
  display: flex;
  text-align: left;
  align-items: center;
}

.col img{
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind{
  font-size: 28px;
  margin-top: -6px;
}

.temperature{
  display: none;
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}